<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>New password</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/ipcore/bs3/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/css/bootstrap-reset.css') }}" rel="stylesheet">
        <!--external css-->
        <link href="{{ asset('bundles/ipcore/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/ipcore/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/css/style-responsive.css') }}" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/ipcore/js/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/respond.min.js') }}"></script>
        <![endif]-->
    </head>

    {% trans_default_domain 'FOSUserBundle' %}

    {% form_theme form ':Form:form_div_layout.html.twig' %}

    <body class="">
        <div class="container ">
            <section class="error-wrapper text-center">
{#                <h1><img src="{{ asset('bundles/ipcore/images/logo.png') }}" alt=""></h1>#}
                <div  style="margin-top: -27px; padding: 30px 0;">
                    <h2>&nbsp;</h2>
                    <p class="nrml-txt">E-Learning</p>
                </div>
                
                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-lg btn-primary btn-block" />
                    </div>
                </form>          
            </section>
        </div>
    </body>
</html>
