<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>404</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/ipcore/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ipcore/css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('bundles/ipcore/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/ipcore/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ipcore/css/style-responsive.css') }}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/ipcore/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/ipcore/js/respond.min.js') }}"></script>
    <![endif]-->
</head>




  <body class="body-404">

    <div class="error-head"> </div>

    <div class="container ">

      <section class="error-wrapper text-center">
          <h1><img src="{{ asset('bundles/ipcore/images/404.png') }}" alt=""></h1>
          <div class="error-desk">
              <h2>page not found</h2>
              <p class="nrml-txt">We Couldn’t Find This Page</p>
          </div>
      </section>

    </div>


  </body>
</html>
