{% extends '::base.html.twig' %}

{% block title %} - Connexion{% endblock %}

{% block customStylesheets %}
<link href="{{ asset('bundles/ipcore/css/front/default.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}
{% block leftSidebar %}{% endblock %}

{% block body %}
{% include 'IPCoreBundle:Templates:header.twig.html' %}

{% trans_default_domain 'FOSUserBundle' %}
<div class="container ">
{# <h1><img src="{{ asset('bundles/ipcore/images/logo.png') }}" alt=""></h1>#}
    <h2 class="text-center">Mon compte</h2>
    
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="text-{{ type }}" style="margin-bottom: 15px; font-size: 15px; font-weight: bold; ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}                
    
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="fos_user_user_show">
                    <div class="text-center">
                        <i class="fa fa-user fa-5x "></i>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div class="row">
                            <div class="col-lg-4"></div> 
                            <div class="col-lg-2"><h4>{{ 'profile.show.username'|trans }}:</h4></div>
                            <div class="col-lg-2"><h4>{{ user.username }}</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div> 
                            <div class="col-lg-2"><h4>{{ 'profile.show.email'|trans }}:</h4></div>
                            <div class="col-lg-2"><h4>{{ user.email }}</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'IPCoreBundle:Templates:footer.twig.html' %}
{% endblock %}
