.logo {
	font-size: 40px;
}

#main-content {
    margin-left: 0 !important;
}

section.wrapper {
	margin-top: 0 !important;
	padding: 0 !important;
}

body {
	background: none !important;
}


/* Menu */
.navbar-main {
	background-color: #fff;
	height: 70px !important;
	border-bottom: 10px solid #f7f6f6;
}

.nav > li {
	font-size: 16px;
}

.nav > li > a:hover {
	background-color: #fff !important;
}

.nav > li:hover:first-child {
	background-color: #fff !important;
	border-bottom: solid 5px #00a4d3;
}

.nav > li:hover:first-child a {
	color: #00a4d3;
}

.nav > li:hover:nth-child(2) {
	background-color: #fff !important;
	border-bottom: solid 5px #629c44;
}

.nav > li:hover:nth-child(2) a {
	color: #629c44;
}

.nav > li:hover:nth-child(3) {
	background-color: #fff !important;
	border-bottom: solid 5px #ffa834;
}

.nav > li:hover:nth-child(3) a {
	color: #ffa834;
}

span.glyphicon.glyphicon-user {
    font-size: 25px;
    line-height: 40px;
}

span.user {
	font-size: 16px;
}

button#user-menu {
    text-decoration: none;
}

ul.nav.navbar-nav {
    display: inline-block;
    float: none;
}

.collapse.navbar-collapse {
    text-align: center;
}

/* Footer */
footer {
	background-color: #f7f6f6;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

p.text-muted {
    text-align: center;
    margin-top: 10px;
}

/* News */
.panel-heading {
	background-color: #00a4d3 !important;
}

.panel-heading h3 {
	color: #fff;
}

.panel-body {
    background-color: #f7f6f6;
}

.panel-default > .panel-heading {
    border: none;
}

.panel-default {
	border: none;
}

.imagenews {
    margin-bottom: 10px;
}

.panel {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.panel:hover {
	box-shadow: 1px 1px #00a4d3, 2px 2px #00a4d3, 3px 3px #00a4d3;
	transform: translateX(-3px);
}

div#btn-menu-header {
    margin-top: 14px !important;
}

/* Logo */
.logo {
	font-family: 'Exo', sans-serif;
}