{% extends '::base.html.twig' %}

{% block title %} - Admin{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <p>Je suis un Super Admin</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}