<!DOCTYPE html>
<html lang="fr">
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	
        <meta charset="utf-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Net Comme Web">

        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
        <meta http-equiv="X-UA-Compatible" content="IE=9">

        <title>E-Learning{% block title %}{% endblock %}</title>
        <!--Core CSS -->

        <link href="{{ asset('bundles/ipcore/bs3/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/css/bootstrap-switch.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/ipcore/js/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/css/bootstrap-reset.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <!--jQuery select2 css-->
        <link href="{{ asset('bundles/ipcore/js/select2/select2.css') }}" rel="stylesheet" />
        <!--Bootstrap Timepicker css-->
        <link href="{{ asset('bundles/ipcore/js/bootstrap-timepicker/css/timepicker.css') }}" rel="stylesheet" />
        <!--Bootstrap Datetimepicker css-->
        <link href="{{ asset('bundles/ipcore/js/bootstrap-datetimepicker/css/datetimepicker.css') }}" rel="stylesheet" />
        {#        <!--jQuery jvectormap-->
                <link href="{{ asset('bundles/ipcore/js/jvector-map/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet">#}
        {#        <!--CLNDR.js (jQuery Calendar Plugin)-->
                <link href="{{ asset('bundles/ipcore/css/clndr.css') }}" rel="stylesheet">#}
        {#        <!--clock css-->
                <link href="{{ asset('bundles/ipcore/js/css3clock/css/style.css') }}" rel="stylesheet">#}
        {#        <!--Morris Chart CSS -->
                <link rel="stylesheet" href="{{ asset('bundles/ipcore/js/morris-chart/morris.css') }}">#}
        {% block stylesheets %}
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700') }}" rel='stylesheet' type='text/css'>
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Exo:400,700,800') }}" rel='stylesheet' type='text/css'>
        {% endblock %}
        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/ipcore/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/css/style-responsive.css') }}" rel="stylesheet"/>
        {% block customStylesheets %}{% endblock %}
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/ipcore/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->    
</head>
<body>
    {% set route = app.request.attributes.get('_route') %}
    <section id="container">
        {% block header %}
            <!--header start-->
            <header class="header fixed-top clearfix">
                <!--logo start-->
                <div class="brand">

                    <a href="{{ path('ip_admin_default_index') }}" class="logo">
                        <img src="{{ asset('bundles/ipcore/images/logo.png') }}" alt="">
                    </a>
                    <div class="sidebar-toggle-box">
                        <div class="fa fa-bars"></div>
                    </div>
                </div>
                <!--logo end-->

                <div class="nav notify-row" id="top_menu">
                    <!--  notification goes here -->
                </div>
                
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="top-nav clearfix">
                        <!--search & user info start-->
                        <ul class="nav pull-right top-menu">
                            <!-- user login dropdown start-->
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <img alt="" src="{{ asset('bundles/ipcore/images/avatar.jpg') }}">
                                    <span class="username">{{ app.user.username|capitalize }}</span>
                                    <b class="caret"></b>
                                </a>
                                    
                                <ul class="dropdown-menu extended logout">
                                    <li><a href="{{ path('ip_admin_user_useredit') }}"><i class=" fa fa-suitcase"></i>Profil</a></li>
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li><a href="{{ path('ip_admin_user_index', {'_switch_user': '_exit'}) }}"><i class="fa fa-key"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% else %}
                                    <li><a href="{{ path('admin_logout') }}"><i class="fa fa-key"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <!--search & user info end-->
                    </div>                    
                {% endif %}                  
            </header>
            <!--header end-->
        {% endblock %}
        {% block leftSidebar %}
            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse">
                    <!-- sidebar menu start-->
                    <div class="leftside-navigation">
                        <ul class="sidebar-menu" id="nav-accordion">
                            <li>
                                <a {% if route == 'ip_admin_default_index' %}class="active"{% endif %} href="{{ path('ip_admin_default_index') }}">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% set subParamDisplay = false %}
                                {#<li class="sub-menu">
                                    <a href="javascript:;" {% if route in ['ip_admin_libelleproduit_index', 'ip_admin_libelleproduit_new', 'ip_admin_libelleproduit_edit'] %}{% set subParamDisplay = true %}class="active"{% endif %}>
                                        <i class="fa fa-gear"></i>
                                        <span>Paramètres</span>
                                    </a>
                                    <ul class="sub" {% if subParamDisplay != true %}style="display: none;"{% endif %}>
                                        <li {% if route in ['ip_admin_libelleproduit_index', 'ip_admin_libelleproduit_new', 'ip_admin_libelleproduit_edit'] %}class="active"{% endif %}><a href="{{ path('ip_admin_libelleproduit_index') }}">Libellés produits</a></li>
                                    </ul>                                    
                                </li>#}
                                <li>
                                    <a {% if route in ['ip_admin_user_index', 'admin_register', 'ip_admin_user_edit'] %}class="active"{% endif %} href="{{ path('ip_admin_user_index') }}">
                                        <i class="fa fa-user"></i>
                                        <span>Utilisateurs</span>
                                    </a>
                                </li>
                                </li>
                                <li>
                                    <a {% if route in ['ip_admin_tuto_index', 'tuto_edit', 'tuto_show'] %}class="active"{% endif %} href="{{ path('ip_admin_tuto_index') }}">
                                        <i class="fa fa-tags"></i>
                                        <span>Tuto</span>
                                    </a>
                                </li>
                                <li>
                                    <a {% if route in ['ip_admin_categorie_index', 'categorie_new', 'categorie_edit', 'categorie_show'] %}class="active"{% endif %} href="{{ path('ip_admin_categorie_index') }}">
                                        <i class="fa fa-tags"></i>
                                        <span>Catégories</span>
                                    </a>
                                </li>
                                <li>
                                    <a {% if route in ['ip_admin_type_index', 'type_new', 'type_edit', 'type_show'] %}class="active"{% endif %} href="{{ path('ip_admin_type_index') }}">
                                        <i class="fa fa-file"></i>
                                        <span>Types</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
        {% endblock %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    <div class="alert alert-{{ key }} alert-dismissible fade in" role="alert">
                        <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                        <div class="notification-info notification-info-simple">
                            <ul class="clearfix list-style-none">
                                <li class="pull-left notification-sender">{{ message|trans({}, 'FOSUserBundle') }}</li>
                                <li class="pull-right"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></li>
                            </ul>
                        </div>
                    </div>    
                    {% endfor %}            
                {% endfor %}  
                
                {% block fos_user_content %}{% endblock %}                
                
                {% block body %}{% endblock %}
            </section>
        </section>
        <!--main content end-->
        
        <!--right sidebar start-->
        <div class="right-sidebar">
            <div class="toggle-right-box closeRightSideBar">
                <div class="fa fa-caret-left triggerCloseRightSideBar"></div>
            </div>
            
            {% block rightSidebarContent %}
            <div class="rightSideBarContent">
                <!--sidebar list goes here-->
                <ul class="right-side-accordion"></ul>                
            </div>
            {% endblock %}

        </div>
        <!--right sidebar end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<!--Core js-->
<script src="{{ asset('bundles/ipcore/js/jquery.js') }}"></script>
<!--<script src="{{ asset('bundles/ipcore/js/bootstrap-switch.js') }}"></script>-->
<script src="{{ asset('bundles/ipcore/js/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}"></script>
<script src="{{ asset('bundles/ipcore/bs3/js/bootstrap.min.js') }}"></script>
<!--jQuery Vertical Accordion Menu-->
<script src="{{ asset('bundles/ipcore/js/jquery.dcjqaccordion.2.7.js') }}"></script>
<!--jQuery scroll libraries-->
<script src="{{ asset('bundles/ipcore/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('bundles/ipcore/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js') }}"></script>
{#<script src="{{ asset('bundles/ipcore/js/jquery.nicescroll.js') }}"></script>#}
<script src="{{ asset('bundles/ipcore/js/jquery.scrollTo/jquery.scrollTo.js') }}"></script>

<script src="{{ asset('bundles/ipcore/js/fuelux/js/spinner.min.js') }}"></script>
<!--jQuery Easing-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
{#        <!--CLNDR.js (jQuery Calendar Plugin)-->
        <script src="{{ asset('bundles/ipcore/js/calendar/clndr.js') }}"></script>#}
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
{#        <!--skycons.js (géré dans dashboard.js)-->
        <script src="{{ asset('bundles/ipcore/js/skycons/skycons.js') }}"></script>#}        
<!--Moment.js + gestion calendrier (je crois)-->
<script src="{{ asset('bundles/ipcore/js/calendar/moment-2.2.1.js') }}"></script>
{#        <script src="{{ asset('bundles/ipcore/js/evnt.calendar.init.js') }}"></script>#}
<!--Bootstrap Datetimepicker js-->
<script src="{{ asset('bundles/ipcore/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
<!--Bootstrap Timepicker js-->
<script src="{{ asset('bundles/ipcore/js/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>

{#        <!--jQuery jvectormap-->
        <script src="{{ asset('bundles/ipcore/js/jvector-map/jquery-jvectormap-1.2.2.min.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/jvector-map/jquery-jvectormap-us-lcc-en.js') }}"></script>#}
{#        <!--gauge (géré dans dashboard.js)-->
        <script src="{{ asset('bundles/ipcore/js/gauge/gauge.js') }}"></script>#}
{#        <!--clock init-->
        <script src="{{ asset('bundles/ipcore/js/css3clock/js/css3clock.js') }}"></script>#}
{#        <!--Easy Pie Chart-->
        <script src="{{ asset('bundles/ipcore/js/easypiechart/jquery.easypiechart.js') }}"></script>#}
{#        <!--Sparkline Chart-->
        <script src="{{ asset('bundles/ipcore/js/sparkline/jquery.sparkline.js') }}"></script>#}
{#        <!--Morris Chart (géré dans dashboard.js)-->
        <script src="{{ asset('bundles/ipcore/js/morris-chart/morris.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/morris-chart/raphael-min.js') }}"></script>#}
{#        <!--jQuery Flot Chart-->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/ipcore/js/flot-chart/excanvas.min.js') }}"></script><![endif]-->
        <script src="{{ asset('bundles/ipcore/js/flot-chart/jquery.flot.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/flot-chart/jquery.flot.tooltip.min.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/flot-chart/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/flot-chart/jquery.flot.pie.resize.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/flot-chart/jquery.flot.animator.min.js') }}"></script>
        <script src="{{ asset('bundles/ipcore/js/flot-chart/jquery.flot.growraf.js') }}"></script>#}
<script src="{{ asset('bundles/ipcore/js/dashboard.js') }}"></script>
<!--jQuery customSelect-->
<script src="{{ asset('bundles/ipcore/js/jquery.customSelect.min.js') }}" ></script>
<!--common script init for all pages-->
<script src="{{ asset('bundles/ipcore/js/scripts.js') }}"></script>
<script src="{{ asset('bundles/ipcore/js/ip/scripts.js') }}"></script>
<!--jQuery select2 js-->
<script src="{{ asset('bundles/ipcore/js/select2/select2.js') }}"></script>
<script type="text/javascript">
  $('select').select2();
  
  $(window).bind('orientationchange resize', function(event){
    if (event.orientation) {
      if (event.orientation == 'landscape') {
	if (window.rotation == 90) {
	  rotate(this, -90);
	} else {
	  rotate(this, 90);
	}
      }
    }
  });

  function rotate(el, degs) {
    iedegs = degs/90;
    if (iedegs < 0) iedegs += 4;
    transform = 'rotate('+degs+'deg)';
    iefilter = 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+iedegs+')';
    styles = {
      transform: transform,
      '-webkit-transform': transform,
      '-moz-transform': transform,
      '-o-transform': transform,
      filter: iefilter,
      '-ms-filter': iefilter
    };
    $(el).css(styles);
  }
</script>

{#<!--dynamic table-->
<script type="text/javascript" language="javascript" src="{{ asset('bundles/ipcore/js/advanced-datatable/js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ipcore/js/data-tables/DT_bootstrap.js') }}"></script>  
<!--dynamic table initialization -->
<script src="{{ asset('bundles/ipcore/js/dynamic_table_init.js') }}"></script>#}
{% block javascripts %}{% endblock %}

</body>
</html>