{% extends '::base.html.twig' %}

{% block title %} - Admin{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading">
    Modifier un utilisateur
    <span class="pull-right">
        <a class="btn btn-default btn-sm btn-round tooltips mt-5 goBack" href="#" title="Retour">
            <i class="fa fa-chevron-left"></i>
            Retour
        </a>            
    </span>  
</header>
<div class="panel-body">
<div class="position-center">
    {% include 'IPAdminBundle:Registration:form.html.twig' %}    
</div>
</div>
</section>
</div>
</div>    
{% endblock %}

{% block javascripts %}
    {% include 'IPAdminBundle:User:checkUserIsSuperAdmin.html.twig' %}
    <script>
        $(function(){
            $('#ip_user_registration_plainPassword_first').removeAttr('required');
            $('#ip_user_registration_plainPassword_second').removeAttr('required');
        });
    </script>    
{% endblock %}