{% extends '::base.html.twig' %}

{% block title %} - Admin{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading">
    Modifier mon profil
    <span class="pull-right">
    </span>  
</header>
<div class="panel-body">
<div class="position-center">
    {% include 'IPAdminBundle:User:userForm.html.twig' %}    
</div>
</div>
</section>
</div>
</div>    
{% endblock %}