{% extends '::base.html.twig' %}

{% block title %} - Admin{% endblock %}

{% block stylesheets %}
    <!--dynamic table-->
    <link href="{{ asset('bundles/ipcore/js/advanced-datatable/css/demo_page.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ipcore/js/advanced-datatable/css/demo_table.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ipcore/js/data-tables/DT_bootstrap.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Liste des tutos
                        <span class="pull-right mt-5">
                            {{ form(deleteForm, {'attr': {'id': 'formMultiDelete', 'class': 'hide'}}) }}
                            <div class="btn-group hidden-phone">
                                <a data-toggle="dropdown" href="#" class="btn mini blue">
                                    Actions
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li><a href="#" id="multiDeleteAction" title="Supprimer"><i class="fa fa-trash-o"></i> Supprimer</a></li>
                                </ul>
                            </div>                         
                        </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                            <tr>
                                <th width="60"></th>
                                <th width="100">ID</th>
                                <th>Lien</th>
                                <th>Description</th>
                                <th>Validation</th>
                                <th width="120">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td class="center">
                                        <input type="checkbox" class="toDelete" value="{{ entity.id }}">
                                    </td>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.lienPost }}</td>
                                    <td>{{ entity.DescriptionPost }}</td>
                                    <td>{{ entity.IsValidePost }}</td>
                                    <td class="center">
                                        <a class="btn btn-primary btn-sm tooltips" href="{{ path('ip_admin_tuto_edit', { 'id': entity.id }) }}" title="Editer" >
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="center"><input type="checkbox" class="deleteAll" style="width: auto; "></td>
                                <th>ID</th>
                                <th>Lien</th>
                                <th>Description</th>
                                <th>Validation</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/ipcore/js/advanced-datatable/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ipcore/js/data-tables/DT_bootstrap.js') }}"></script>
    <!--dynamic table initialization -->
    <script src="{{ asset('bundles/ipcore/js/dynamic_table_init.js') }}"></script>
    <script src="{{ asset('bundles/ipcore/js/ip/adminDeleteItems.js') }}"></script>
{% endblock %}    
