{% extends '::base.html.twig' %} 

{% block title %} - Accueil{% endblock %}

{% block customStylesheets %}
    <link href="{{ asset('bundles/ipcore/css/front/default.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}
{% block leftSidebar %}{% endblock %}

{% block body %}
{% include 'IPCoreBundle:Templates:header.twig.html' %}

<div class="container">
    <form action="#" method="post" class="pull-right">
        <input name="tag" type="text" placeholder="Recherche">
    </form>
    
    <ul class="nav nav-tabs">
        <li role="presentation" class="js-categorie" data-categorie="tuto"><a >toutes</a></li>
        {% for categorie in categories %}
        <li role="presentation" class="js-categorie" data-categorie="{{ categorie.libelle }}"><a >{{ categorie.libelle }}</a></li>
        {% endfor %}
    </ul>
    <br>



    {% for entity in entities %}
        {% if entity.isValidePost %}
        <div class="col-lg-3 tuto {{ entity.categorie }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{ entity.categorie }}</h3>
                </div>
                <div class="panel-body">
                    <div class="imagenews text-center">
                        <img src="{{ asset('bundles/ipcore/images/news.png') }}">
                    </div>
                    <p>{{ entity.DescriptionPost }}</p>
                    <p>Partagé par {{ entity.user }} le {{ entity.date|date("m/d/Y") }}</p>
                    <div class="text-center">
                        <a  href="{{ entity.lienPost }}" target="_blank" ><button type="button" class="btn btn-category" >Voir le tuto</button></a>

                        {% set userHasVoted = false %}
                        {% set nbNotes = 0 %}

                        {% for note in entity.note %}
                            {% set nbNotes = nbNotes + 1 %}
                            {% if note.user == app.user  %}
                                {% set userHasVoted = true %}
                            {% endif %}
                        {% endfor %}
                         {% if (not userHasVoted and app.user) %} 
                            <a class="js-note" data-id="{{ entity.id }}" title="Voter" >
                                <button type="button" class="btn btn-category" >Voter <i class="fa fa-plus"></i></button>
                            </a>
                         {% endif %} 
                    <h1 class="vote">{{ nbNotes }}</h1>
                    </div>



                </div>
            </div>
	    </div>
            {% endif %}        
    {% endfor %}

</div>

{% include 'IPCoreBundle:Templates:footer.twig.html' %}
{% endblock %}

{% block javascripts %}
    <script>
        $('.js-note').on('click', function() {
            var _this = $(this);
            var id = _this.data('id');
            $.post('{{ path('ip_core_tuto_note') }}', {id: id}, function (data){
                data = JSON.parse(data);
                $vote = $(_this.parent().find('.vote'));
                $vote.empty().append(data.nbNotes);
                _this.hide();
            } )
        });

        $('.js-categorie').on('click', function() {
            var _this = $(this);

            $('.tuto').hide();
            $('.tuto.'+_this.data('categorie')).show();
        });

    </script>
{% endblock %}