{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form) }}    
{{ form_errors(form) }}
{{ form_row(form.email) }}
{{ form_row(form.username) }}
{{ form_row(form.plainPassword) }}

{{ form_rest(form) }}
{{ form_end(form) }}