{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends "::base.html.twig" %}

{% block fos_user_content %}
{% include "IPAdminBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    {% include 'IPAdminBundle:User:checkUserIsSuperAdmin.html.twig' %}
    <script>
        $(function(){
            $('.spinnerIP').spinner({value:0, min: 0});
        });
    </script>
{% endblock %}