

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
        <header class="panel-heading">
            Ajouter un utilisateur
            <span class="pull-right">
            <a class="btn btn-default btn-sm btn-round tooltips mt-5" href="{{ path('ip_admin_user_index') }}" title="Retour">
                <i class="fa fa-chevron-left"></i>
                Retour
            </a>
            </span>  
        </header>
        <div class="panel-body">
            <div class="position-center">
                {% include 'IPAdminBundle:Registration:form.html.twig' %}
            </div>
        </div>
        </section>
    </div>
</div>