<nav class="navbar navbar-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="logo">
                    <a href="{{ path('ip_core_default_welcome')}}"><img src="{{ asset('bundles/ipcore/images/reading32.png') }}"> Elearning</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
<!--                        <li><a href="{{ path('ip_core_default_welcome')}}">News</li></a>                   
                        <li><a href="{{ path('ip_core_tuto_index')}}">Tutoriels</li></a>-->
                        <li><a href="#">News</li></a>                   
                        <li><a href="#">Tutoriels</li></a>                    
                    </ul>
                </div>
            </div>
            {% if app.user.username is defined %}
            <div class="dropdown col-lg-3 col-md-3 col-sm-3">
                <button class="btn btn-link dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="user">{{ app.user.username }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="user-menu">
                    <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                    <li><a href="{{ path('ip_core_tuto_new') }}">Publier un tutoriel</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnection</a></li>
                </ul>
            </div>
            {% else %}
            <div class="dropdown col-lg-3 col-md-3 col-sm-3" id="btn-menu-header">
                <button class="btn btn-default btn-sm user"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></button> 
                <button class="btn btn-default btn-sm user"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></button>
            </div>
            {% endif %}
        </div>
    </div>
</nav>