{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Catégorie</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ip_admin_categorie_index') }}">
            Retour à la liste de catégories
        </a>
    </li>
    <li>
        <a href="{{ path('categorie_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
