{% extends '::base.html.twig' %}

{% block title %} - Admin{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading">
    Ajouter un type
    <span class="pull-right">
    <a class="btn btn-default btn-sm btn-round tooltips mt-5 goBack" href="#" title="Retour">
        <i class="fa fa-chevron-left"></i>
        Retour
    </a>
    </span>  
</header>
<div class="panel-body">
<div class="position-center">
    {% include 'IPAdminBundle:Type:form.html.twig' %}
</div>
</div>
</section>
</div>
</div>    
{% endblock %}
