<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="ThemeBucket">

        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
        <meta http-equiv="X-UA-Compatible" content="IE=9">

        <link rel="shortcut icon" href="images/favicon.png">
        <title>E-Learning - Admin Login</title>
        <!--Core CSS -->

        <link href="{{ asset('bundles/ipcore/bs3/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/css/bootstrap-reset.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcore/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/ipcore/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ipcore/css/style-responsive.css') }}" rel="stylesheet"/>
{% block customStylesheets %}{% endblock %}
<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/ipcore/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->    
</head>
<body class="login-body">
    <div class="container">
        {% trans_default_domain 'FOSUserBundle' %}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}        

        {% if error is defined and error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <div>
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
        </div>        

        <form action="{{ path("admin_login_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h2 class="form-signin-heading">E-Learning Admin</h2>
            <div class="login-wrap">
                <div class="user-login-info">
                    <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required="required" autofocus>
                    <input type="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required">
                </div>
                <label class="checkbox">
                    <input type="checkbox" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
                    <span class="pull-right">
                        <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                    </span>
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
            </div>
        </form>  
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ path('admin_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Forgot Password ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'resetting.request.username'|trans }}</p>
                            <input type="text" name="username" autocomplete="off" class="form-control placeholder-no-fix" required="required">
                            <div id="notifModalForgotPassword" style="margin-top: 15px; "></div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                            <button class="btn btn-success" type="submit">{{ 'resetting.request.submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- modal -->            
    </div>
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="{{ asset('bundles/ipcore/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/ipcore/bs3/js/bootstrap.min.js') }}"></script>

{% block javascripts %}
    <script>
        $(function(){
            $('.fos_user_resetting_request').on('submit', function(e){
                e.preventDefault();
                var myForm = $(this);
                $.ajax({
                    type: myForm.attr('method'),
                    url: myForm.attr('action'),
                    data: myForm.serialize(),
                    success: function (data) {
                        $('#notifModalForgotPassword').html(data);
                    }
                });                
            });
        });
    </script>
{% endblock %}
</body>
</html>