{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} - Admin{% endblock %}

{% block customStylesheets %}
    <link href="{{ asset('bundles/ipcore/css/front/default.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}
{% block leftSidebar %}{% endblock %}

{% block fos_user_content %}
{% include 'IPCoreBundle:Templates:header.twig.html' %}

<div class="container">
    <h4>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>
</div>
{#    {% if targetUrl %}#}
{#    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>#}
{#    {% endif %}#}

{% include 'IPCoreBundle:Templates:footer.twig.html' %}
{% endblock fos_user_content %}
