{% extends '::base.html.twig' %} 

{% block title %} - Inscription{% endblock %}

{% block customStylesheets %}
    <link href="{{ asset('bundles/ipcore/css/front/default.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}
{% block leftSidebar %}{% endblock %}

{% block fos_user_content %}
{% include 'IPCoreBundle:Templates:header.twig.html' %}

{% include "FOSUserBundle:Registration:register_content.html.twig" %}

{% include 'IPCoreBundle:Templates:footer.twig.html' %}
{% endblock fos_user_content %}
