{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
    
<fieldset>
	<legend><h3>Inscription</h3></legend>
	<div class="col-md-4"></div>
	<div class="col-md-4">
		{{ form_widget(form, {'attr': {'class': 'form-horizontal'}}) }}
		<button type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-info btn pull-right">Enregistrer</button>
	</div>
</fieldset>

{{ form_end(form) }}
</div>