<p class="hide" id="recupInfosGoogle"></p>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script>
    $(function(){
            autocomplete = new google.maps.places.Autocomplete(
                    (document.getElementsByClassName('autocomplete')[0]),
                    {
                        types: ['geocode']
                    });
            google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    });

    function onPlaceChanged() {
	var place = autocomplete.getPlace();
        
{#        console.log(place.adr_address);#}
        
	var resultGoogle = place.adr_address;
	$('#recupInfosGoogle').html(resultGoogle);
	$('.googleLatitude').val(place.geometry.location.lat());
	$('.googleLongitude').val(place.geometry.location.lng());
	
	$('.googleAdresse').val($('#recupInfosGoogle').find('.street-address').html());
	$('.googleVille').val($('#recupInfosGoogle').find('.locality').html());
	$('.googleCodePostal').val($('#recupInfosGoogle').find('.postal-code').html());
	$('.googlePays').val($('#recupInfosGoogle').find('.country-name').html());
    }
</script>