{% extends '::base.html.twig' %} 

{% block title %} - Connexion{% endblock %}

{% block customStylesheets %}
    <link href="{{ asset('bundles/ipcore/css/front/default.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}
{% block leftSidebar %}{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% include 'IPCoreBundle:Templates:header.twig.html' %}

<div class="container">
	<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<fieldset>
			<legend><h3>Se connecter</h3></legend>
			<div class="form-group">
				<label class="col-md-4 control-label" for="username">Identifiant</label> 
				<div class="col-md-4">
					<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control input-md">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="password">Mot de passe</label>
				<div class="col-md-4">
					<input type="password" id="password" name="_password" required="required" class="form-control input-md">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="remember_me"></label>
				<div class="col-md-4">
					<label class="checkbox-inline pull-right" for="remember_me">
						<input type="checkbox" id="remember_me" name="_remember_me" value="on"> Se souvenir de moi
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="connect"></label>
				<div class="col-md-4">
					<button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-info btn pull-right">Se connecter</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

{% include 'IPCoreBundle:Templates:footer.twig.html' %}
{% endblock fos_user_content %}
