{% extends '::base.html.twig' %}

{% block title %} - TUTO{% endblock %}

{% block stylesheets %}
    <!--dynamic table-->
    <link href="{{ asset('bundles/ipcore/js/advanced-datatable/css/demo_page.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ipcore/js/advanced-datatable/css/demo_table.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ipcore/js/data-tables/DT_bootstrap.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Liste des tutos
                        <span class="pull-right mt-5">
                            {{ form(deleteForm, {'attr': {'id': 'formMultiDelete', 'class': 'hide'}}) }}
                            <div class="btn-group hidden-phone">
                                <a data-toggle="dropdown" href="#" class="btn mini blue">
                                    Actions
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li><a href="#" id="multiDeleteAction" title="Supprimer"><i class="fa fa-trash-o"></i> Supprimer</a></li>
                                </ul>
                            </div>                         
                        </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                            <tr>
                                <th width="60"></th>
                                <th width="100">ID</th>
                                <th>Lien</th>
                                <th>Description</th>
                                <th>Validation</th>
                                <th >Notes</th>
                                <th >Voter</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td class="center">
                                        <input type="checkbox" class="toDelete" value="{{ entity.id }}">
                                    </td>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.lienPost }}</td>
                                    <td>{{ entity.DescriptionPost }}</td>
                                    <td>{{ entity.IsValidePost }}</td>
                                    <td class="center">
                                        {% set userHasVoted = false %}
                                        {% set nbNotes = 0 %}

                                        {% for note in entity.note %}
                                            {% set nbNotes = nbNotes + 1 %}
                                            {% if note.user == app.user  %}
                                                {% set userHasVoted = true %}
                                            {% endif %}
                                        {% endfor %}
                                        <span>{{ nbNotes }}</span>
                                    </td>
                                    <td class="center">
                                        {% if not userHasVoted %}
                                            <a class="js-note" data-id="{{ entity.id }}" title="Voter" >
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="center"><input type="checkbox" class="deleteAll" style="width: auto; "></td>
                                <th>ID</th>
                                <th>Lien</th>
                                <th>Description</th>
                                <th>Validation</th>
                                <th >Notes</th>
                                <th >Voter</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
    <script>

        $('.js-note').on('click', function() {
            var _this = $(this);
            var id = _this.data('id');
            $.post('{{ path('ip_core_tuto_note') }}', {id: id}, function (data){
                console.log(data);
                _this.parent().append('<span>' + JSON.parse(data).nbNotes + ' votes </span>');

                _this.hide();
            } )
        })



    </script>
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/ipcore/js/advanced-datatable/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ipcore/js/data-tables/DT_bootstrap.js') }}"></script>
    <!--dynamic table initialization -->
    <script src="{{ asset('bundles/ipcore/js/dynamic_table_init.js') }}"></script>
    <script src="{{ asset('bundles/ipcore/js/ip/adminDeleteItems.js') }}"></script>
{% endblock %}    
